@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
}

body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

/**************** header ****************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
}
.header:hover {
    background-color: #fffffff0;
}
.header_scroll{
    background-color: #b8b8b88f;
}
.header:hover a{
    color: #000;
}
.h_normal{
    position: absolute;
}
.h_hover{
    opacity: 0;
    position: absolute;
}
.header:hover .h_normal{
    opacity: 0;
    visibility: 0;
}
.header:hover .h_hover{
    opacity: 1;
}

.inner_header {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 85px;
    height: 70px;
}

.gnb {
    display: flex;
    margin-top: 30px;
}

.gnb>li {
    flex: 1 1 auto;
    text-transform: uppercase;
}

.gnb>li>a {
    font-weight: bold;
    padding: 0 20px 10px;
    color: #fff;
}

.gnb>li>a::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    margin-top: 6px;
    background-color: #333;
    transition: all .3s;
}

.gnb>li>a:hover:after {
    width: 100%;
    transition: all .3s;
}

.sub_menu_wrap {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    height: 350px;
    background-color: #fffffff0;
    padding: 70px 100px 0;
    box-sizing: border-box;
}

.sub_menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.sub_menu span {
    font-size: 25px;
    font-weight: bold;
}

.category {
    margin-left: 100px;
}

.view_all {
    display: flex;
    margin-bottom: 30px;
}

.view_all a {
    font-weight: bold;
    margin-right: 20px;
}

.clothes_menu {
    display: flex;
    margin-bottom: 10px;
}

.clothes_menu a {
    margin-right: 10px;
}

.captain {
    font-weight: bold;
}

.top_icons {
    display: flex;
    margin-top: 30px;
}

.top_icons>li {
    flex: 1 1 auto;
    margin-left: 20px;
    position: relative;
    width: 22px;
    height: 22px;
}

.icon_sub_menu {
    position: absolute;
    width: 113px;
    background-color: #fff;
    top: 30px;
    left: -45px;
    text-align: center;
    border-radius: 10px;
}

.icon_sub_menu li a {
    padding: 7px;
}

.icon_sub_menu li a:hover {
    color: aquamarine;
}

/* s: mobile menu */
/* .m_btn {
    display: none;
    width: 22px;
    height: 22px;
    margin-top: 30px;
}

.m_nav {
    background-color: #7c8aa0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin-right: 100vw;
}
.m_close{
    position: absolute;
    top: 0;
    right: 0;
} */
/* e: mobile menu */

/**************** main_banner ****************/
.slide1{
    background:url(../img/main/banners/banner1.png) center no-repeat;
}
.slide2{
    background:url(../img/main/banners/banner2.png) center no-repeat;
}
.slide3{
    background:url(../img/main/banners/banner3.png) center no-repeat;
}
.swiper {
    width: 100%;
    height: 722px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b_person{
    position: absolute;
    top: 0;
    left: 0;
}
.banner_text {
    position: absolute;
    top: 30%;
    right: 30%;
    color: #fff;
    text-align: left;
}

.banner_text p {
    text-shadow: 1, 1, 0, #333;
    padding: 5px 0;
}

.concept2 {
    font-size: 30px;
    font-weight: bold;
}

.banner_text a {
    display: inline-block;
    color: #fff;
    margin-top: 40px;
}

.banner_text a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
    transition: all .3s;
}

.banner_text a:hover:after {
    margin-top: 4px;
    transition: all .3s;
}

/**************** main_category ****************/
.main_category {
    overflow: hidden;
    margin: 74px 0 70px 0;
}

.category_bar {
    text-align: center;
    margin-bottom: 26px;
}

.category_bar li {
    display: inline-block;
}

.category_bar li:nth-child(1)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #333;
    margin: 0 9px 0 12px;
}

.floating_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}

.floating_bar li {
    display: flex;
}

.floating_bar li a {
    margin: 0 10px;
}

.category_icon {
    border-radius: 50%;
}

.floating_bar li:nth-child(1)::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #888888;
    margin: 35px 10px 0 10px;
}

.floating_bar li a:hover .category_icon {
    box-shadow: 2px 3px 5px rgb(99, 99, 99);
    transform: translate(-5px, -5px);
    transition: all .3s;
}

/**************** main_new ****************/
.main_new {
    overflow: hidden;
    margin-bottom: 70px;
}

.tit {
    color: #222;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.sub_tit {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 30px;
}

.new_tabs_wrap {
    width: 100%;
    margin-bottom: 20px;
}

.new_tabs {
    display: flex;
    justify-content: center;
    text-align: center;
}

.new_tabs li a {
    border: 1px solid #7c8aa0;
    border-radius: 30px;
    width: 100px;
    padding: 3px 20px 5px;
    margin: 0 10px;
}

.new_tabs li a.active {
    background-color: #7c8aa0;
    color: #fff;
}

.pro_wrap {
    width: 100%;
}

#new2 {
    display: none;
}

.pro_new {
    width: 95%;
    margin: 0 auto;
}

.new_items {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new_items li {
    width: 290px;
    margin: 5px;
}

.new_img_wrap img {
    width: 100%;
}

.pro_obj {
    padding-top: 10px;
}

.material {
    display: flex;
}

.material img {
    display: block;
}

.pro_name {
    padding-top: 10px;
}

.price_info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: bold;
}

.discount {
    text-decoration: line-through;
    color: #666666;
    opacity: .5;
    font-size: 14px;
    padding-right: 15px;
}

.retail {
    color: rgb(233, 82, 11);
    font-size: 16px;
    font-weight: bold;
    padding-right: 15px;
}

/**************** main_review ****************/
.main_review {
    margin-bottom: 105px;
}

.re_tabs_wrap {
    width: 100%;
    margin-bottom: 20px;
    display: none;
}

.re_tabs {
    display: flex;
    justify-content: center;
    text-align: center;
}

.re_tabs li a {
    border: 1px solid #303030;
    width: 80px;
    padding: 10px;
    margin: 0 10px;
}

.re_tabs li a.active {
    background-color: #303030;
    color: #fff;
}

.review_contents {
    width: 630px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.review_contents li {
    width: 200px;
    height: 400px;
    background-color: lightgray;
    border: 1px solid #333;
    margin: 5px;
    cursor: pointer;
    transition: all .3s;
    box-sizing: border-box;
}
.review_comment{
    background-color: #333333c2;
    width: 250px;
    height: 250px;
    opacity: 0;
    color: #fff;
    transition: all .1s;
    padding: 20px;
    margin: 50px 30px;
}

.review_contents li:hover {
    width: 350px;
    transition: all .3s;
}

.review_contents li:hover .review_comment{
    opacity: 1;
    transition: all .3s;
}
.review_women{
    background:url(../img/main/section3/re_women.jpg) no-repeat center;
}
.review_men{
    background:url(../img/main/section3/re_men.jpg) no-repeat center;
}
.review_kids{
    background:url(../img/main/section3/re_kids.jpg) no-repeat center;
}

.review_all {
    text-align: center;
    padding-top: 60px;
}

.review_all a {
    display: inline-block;
    border: 1px solid #333;
    padding: 15px 100px;
}

/**************** main_ad ****************/
.ad_wrapper {
    position: relative;
    width: 1900px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}

.ads {
    position: absolute;
    top: 0;
    left: 0;
}

.adver_animated{
    transition: .5s ease-out;    
}

.ads li {
    float: left;
    width: 1920px;
    height: 300px;
}

.ads li img{
    display: block;
    width: 100%;
}

.adver_controls {
    /* position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translateY(-50%); */
    cursor: pointer;
}
.adver_prev{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);

}
.adver_next{
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);

}

/**************** main_keyitem ****************/
.main_keyitems {
    margin: 105px 0;
}

/* s: keyitems1 */
.keyitems_wrap {
    width: 100%;
    overflow: hidden;
}

.keyitems_wrap1 {
    margin-bottom: 80px;
}

.inner_keyitems {
    width: 100%;
}

.keyitems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyitems_left {
    width: 674px;
    height: 920px;
    background: url(../img/main/section5/big_bg1.jpg) no-repeat center;
    margin: 0 10px;
}

.model_wrap {
    transform: translate(40px, 0px);
    width: 500px;
    height: 960px;
}

.model_wrap img {
    display: block;
}

.keyitems_right {
    width: 910px;
    margin: 0 10px;
}

.key_comment {
    width: 674px;
    padding: 20px 0 40px;
}

.model_wearing {
    width: 674px;
    height: 270px;
    display: flex;
    justify-content: space-between;
}

.model_wearing_more a{
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid #333;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    transform: rotate(45deg);
    margin-top: 80px;
    transition: all .2s;
}
.model_wearing_more a p{
    transform: rotate(-45deg);
}
.model_wearing_more a:hover{
    transform: rotate(0deg);
    background-color: #333;
    color: #fff;
    transition: all .2s;
}
.model_wearing_more a:hover p{
    transform: rotate(0deg);
}
.model_wearing2{
    flex-direction: row-reverse;
}


.keyitems_list_wrap {
    position: relative;
    width: 100%;
    height: 520px;
    overflow: hidden;
    margin-top: 24px;
}

.keyitems_list_btn {
    width: 100%;
    height: 26px;
    display: flex;
}

.keyitems_list_btn div {
    cursor: pointer;
}

.key_prev,
.key_prev2 {
    margin-right: 20px;
}

.keyitems_list {
    position: absolute;
    top: 46px;
    left: 0;
    height: 490px;
    transition: left .5s ease-out;
}

.keyitems_list li {
    float: left;
    width: 290px;
    margin-right: 20px;
}

/* e: keyitems1 */

/* s: keyitems2 */
.keyitems2 {
    flex-direction: row-reverse;
}

.keyitems_left2 {
    background: url(../img/main/section5/big_bg2.jpg) no-repeat center;
}

.model_wrap2 {
    transform: translate(175px, 0px);
}

.keyitems_list_btn2 {
    justify-content: right;
}

.keyitems_list2 {
    position: absolute;
    top: 46px;
    left: 0;
    width: 1550px;
    height: 490px;
    transition: left .5s ease-out;
}

.keyitems_list2 li {
    float: left;
    width: 290px;
    margin-right: 20px;
}

/* e: keyitems2 */

/**************** main_sale ****************/
.main_sale {
    background: url(../img/main/section6/pexels-kristina-paukshtite-712876.jpg) no-repeat center;
    width: 100%;
    padding: 70px 0;
    overflow: hidden;
}

.sale_wrap {
    width: 100%;
    margin: 0 auto;
}

.sale_event {
    width: 1245px;
    margin: 0 auto;
}

.sale_event li {
    display: inline-block;
    width: 600px;
    height: 600px;
    margin: 10px;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 430px;
    transition: background-size .1s;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.sale_event li:nth-child(1) {
    background-image: url(../img/main/section6/600_1.jpg);
}

.sale_event li:nth-child(2) {
    background-image: url(../img/main/section6/600_2.jpg);
}

.sale_event li:nth-child(3) {
    background-image: url(../img/main/section6/600_3.jpg);
}

.sale_event li:nth-child(4) {
    background-image: url(../img/main/section6/600_4.jpg);
}

.sale_event li:hover {
    background-size: 110%;
    transition: background-size .5s;
}

.sale_tx {
    color: #fff;
    padding-left: 50px;
    text-shadow: 1px 1px 7px #222;
}

.sale_tx span {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px 20px;
    color: #333;
    text-shadow: none;
}

.tx1 {
    font-weight: bold;
    font-size: 20px;
}

.tx2 {
    padding: 15px 0 30px;
}

/**************** footer ****************/
.f_inner{
    padding: 70px 80px 100px;
    display: flex;
    justify-content: space-between;
}
/*footer location*/
.f_brand{
    font-size: 28px;
}
.address{
    font-style: normal;
    font-size: 13px;
}
.address ul{
    display: flex;
}
.address ul li {
    padding-top: 10px;
}
.address ul li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #757575;
    vertical-align: center;
    margin: 0 10px;
}
.address ul li:first-child::before{
    display: none;
}
.business_info a{
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
}
.store a{
    display: inline-block;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 5px 150px;
    margin-top: 30px;
    transition: all .3s;
}
.store a:hover{
    background-color: #333;
    color: #fff;
    transition: all .3s;
}
.copyright{
    padding-top: 50px;
}
/*footer sitemap*/
.f_sitemap{
    display: flex;
    text-transform: uppercase;
}
.f_sitemap a{
    display: inline-block;
}
.sitemap_item:first-child {
    margin-right: 130px;
}
.sitemap_item ul li{
    padding-top: 10px;
}